#container {
  height: auto;
}

#column {
  margin: auto;
}

#title {
  text-shadow: 2px 0px 0px rgb(0, 0, 0);
  margin-bottom: 4px;
  margin-top: 8px;
}

.text-align-center {
  text-align: center;
}
